<h1>Livros disponíveis:</h1>

<div class="booksContainer">
  <a href="/">Adicionar livro</a>
  {{#each books}}
    <div>
      #{{this.id}} - <span class="bold">{{this.title}}</span> - {{this.pageqty}} páginas
    </div>
  {{/each}}
</div>